.offer {
    background-color: $orange2;
    padding: 50px 0 46px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-text-div {
        text-align: left;
        max-width: 602px;
    }

    &__title {
        font-weight: 300;
        font-size: 34px;
        color: white;
        text-align: center;
    }

    &__description {
        max-width: 728px;
        margin: 0 auto;
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        color: white;
        margin-top: 20px;
        line-height: 26px;
        letter-spacing: 0.97px;
    }

    .book {
        &-container {
            width: 419px;
            height: 200px;
            background-image: url(/images/rectangle.png);
            background-size: 100% 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__image {
            width: 130px;
            margin-left: -6px;
        }
        
        &__text {
            font-size: 22px;
            font-weight: 800;
            line-height: 28px;
            letter-spacing: 1.33px;
            color: $orange;
            max-width: 239px;
            margin-right: 18px;
        }
        
        &__purple {
            color: $purple;
            font-weight: 800;
        }
    }


    .btn {
        max-width: 430px;
        margin: 20px auto 0 0;
        height: 68px;
    }
}

@media screen and (max-width: 768px) {
    .offer {
        &__title {
            width: 211px;
            font-size: 24px;
            line-height: 1.33;
            letter-spacing: 1.45px;
            margin: 0 auto;
        }

        &__description {
            font-size: 16px;
            line-height: 1.63;
            letter-spacing: 0.97px;
            padding: 0 15px;
        }
    }
}