.terms {
    &__tabs {
        display: block;
        margin: 20px auto;
        text-align: center;
        color: $gray;
        font-size: 16px;
        position: relative;
        
        &-item {
            font-weight: 300;
            margin: 0 10px 0 14px;
        }
    }

    &__tabs-divider {
        content: '';
        position: absolute;
        top: 0;
        display: inline-block;
        width: 1px;
        height: 16px;
        background-color: $gray;
    }

    &__description {
        text-align: center;
        font-size: 16px;
        color: $gray;
        font-weight: 300;
        margin-top: 20px;
    }

    &__link {
        color: #53acde;
    }

    &__term {
        font-size: 16px;
        color: $gray;
        line-height: 24px;
        margin: 43px auto 40px auto;
        max-width: 820px;

        h3 {
            margin-top: 10px;
            font-weight: 800;
        }
        
        p {
            font-weight: 300;
            margin-bottom: 20px;
        }
    }
}

@media screen and (max-width: 820px) {
    .terms-content {
        padding: 0 20px;
    }
}