@import "./colors.scss";

.advantages {
  padding: 40px 0 80px 0;
  background-color: #fff1d9;

  &__title {
    font-size: 42px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.24;
    letter-spacing: 2.55px;
    text-align: center;
    color: $orange2;
  }

  &__subtitle {
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: 1.45px;
    text-align: center;
    color: $orange2;
    margin: 24px auto 0 auto;
    max-width: 896px;
    width: 100%;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__block {
    margin: 0 10px 16px 10px;
    display: flex;
    width: calc((100% / 3) - 20px);
    min-height: 460px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 10, 0.2);
    padding-bottom: 25px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    background-color: #fff;

    &-image-div {
      height: 240px;
      width: 100%;
    }

    &-image {
      display: block;
      object-fit: cover;
      height: 100%;
      min-width: 100%;
    }

    &-title {
      font-size: 24px;
      font-weight: 800;
      color: $pink;
      margin-top: 20px;
    }

    p {
      color: $gray;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      max-width: 320px;
      line-height: 24px;
      letter-spacing: 0.97px;
      margin-top: 12px;

      strong {
        font-weight: 800;
      }
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    opacity: .16;
  }

  &__button {
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 768px) {
  .advantages {
    &__title {
      font-size: 24px;
      font-weight: 300;
      margin: 0 auto;
      max-width: 227px;
      line-height: 1.33;
      letter-spacing: 1.45px;
    }

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__block {
      width: 340px;
      margin-bottom: 24px;
    }
  }
}