@import "./colors.scss";

.important {
    padding: 40px 0 60px 0;

    &__title {
        font-size: 34px;
        font-weight: 300;
        max-width: 530px;
        margin: 0 auto;
        color: $orange2;
        text-align: center;
    }

    &__topic {
        font-size: 32px;
        font-weight: 800;
        color: $orange;
        margin-top: 24px;
    }

    &__text {
        font-size: 18px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.33;
        letter-spacing: normal;
        color: $gray;
        margin-top: 9px;
    }

    &__fruit {
        width: 108px;
        margin-top: -15px;
    }

    &__complement {
        font-size: 24px;
        line-height: 32px;
        color: $orange2;
        margin-top: 20px;
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 50px;
    }

    &__col {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

        &-image {
            justify-content: flex-start;
        }

        &-text {
            padding-right: 10px;
        }
    }

    &__kid {
        width: 401px;
    }
}

@media screen and (max-width: 900px) {

    .important__row {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }

    .important__col-text {
        margin-bottom: 10px;
    }
}