@import "./colors.scss";

.main {
  width: 100%;
  min-width: 300px;
  height: 770px;
  background-image: url("/images/main-background-sv.png");
  background-position: center;
  background-size: auto 100%;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  &__title {
    font-size: 40px;
    font-weight: 800;
    max-width: 884px;
    text-align: center;
    color: white;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    margin-top: -10px;
    line-height: 1.2;
    letter-spacing: 2.42px;

    &--bold {
      font-weight: 800;
    }
  }

  &__subtitle {
    max-width: 320px;
    text-align: center;
    font-size: 22px;
    margin-top: 18px;
    color: $purple;

    &--bold {
      font-weight: 800;
    }
  }

  &__button {
    margin-top: 62px;
    height: 68px;
  }

  &__pills {
    position: absolute;
    top: 102px;
    right: 235px;
    height: 196px;
    z-index: 0;
  }

  &__safe-buy {
    position: absolute;
    top: 30px;
    right: -70px;
    width: 320px;
  }

  &__bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.9)
    );
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      max-width: 1002px;
      margin: 0 auto;
    }

    &-block {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:first-of-type {
        margin-right: 112px;
      }
    }

    &-icon-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: white;
      color: white;
    }

    &-icon {
      display: block;
      max-height: 53px;
      max-width: 60px;
    }

    &-text {
      font-size: 20px;
      color: white;
      font-weight: 100;

      &-container {
        margin-left: 20px;
        max-width: 278px;
      }

      &--bold {
        font-weight: 800;
      }

      &--big {
        font-size: 30px;
      }

      &--small {
        display: block;
        line-height: 26px;
        letter-spacing: 0.8px;
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 1360px) and (max-width: 1150px) {
  .main {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1150px) {
  .main__pills {
      display: none;
  }
}

@media screen and (max-width: 1100px) {
  .main__button {
    z-index: 1;
  }
  
  .video {
    .video-container {
      height: 250px;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: 920px) {
  .main {
    &__bottom {
      height: auto;
      padding-bottom: 10px;
    }

    &__bottom-wrapper {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__bottom-block {
      width: 100%;
      justify-content: center;
      margin-right: 0 !important;
      padding: 10px 0 0 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .main {
    background-image: url("/images/main-background-mobile.png");
    background-position: center;
    background-size: 100% auto;
    height: 800px;
    margin-bottom: 330px;

    &__container {
      height: 660px;
      justify-content: flex-start;
    }

    &__title {
      font-size: 20px;
      max-width: 315px;
      margin-top: 10px;
    }

    &__subtitle {
      font-size: 16px;
      max-width: 233px;
      margin-top: 16px;
    }

    &__safe-buy {
      left: calc(50% - 160px);
      top: auto;
      bottom: -150px;
    }

    &__bottom {
      height: auto;
      top: calc(100% + 100px);
      bottom: auto;
      background: none;
    }

    &__bottom-wrapper {
      flex-direction: column;
    }

    &__bottom-block:first-of-type {
      margin: 0;
    }

    &__bottom-text {
      color: $purple;
    }
  }
}

@media screen and (max-width: 520px) {
  .main {
    background-size: auto 100%;
  }
}
