@import "./colors.scss";

.video {
    background-color: white;
    background-image: url('/images/video-background-section.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    display: block;

    .wrapper {
        height: 100%;
        display: flex;
        padding: 48px 0 54px 0;
    }

    .video-container {
        height: 338px;

        &--mobile {
            display: none;
        }
    }

    .text-container {
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-end;

        &__div {
            margin-left: 80px;
        }

        &__title {
            font-size: 40px;
            font-weight: 800;
            letter-spacing: 2.42px;
            color: $orange2;
        }

        &__text {
            font-size: 28px;
            font-weight: 300;
            line-height: 1.43;
            letter-spacing: 1.7px;
            color: $orange2;
        }

        &__image {
            position: absolute;
            left: -18px;
            top: -38px;
            width: 230px;
        }
    }
}

@media screen and (max-width: 750px) {
    .video {
        height: auto;

        .wrapper {
            flex-direction: column;
        }

        &-container {
            text-align: center;
        }

        .text-container {
            padding: 0 20px 20px 20px;
            flex-wrap: wrap;
            justify-content: center;
            height: auto;

            &__image {
                position: relative;
                left: auto;
                top: auto;
            }

            &__text {
                margin-left: 0;
            }
        }
    }
}