.doubts {
    padding-top: 40px;

    &__description {
        font-size: 16px;
        color: gray;
        margin-top: 20px;
        text-align: center;
    }

    &__container {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin: 56px 0 71px 0;
        max-width: 1180px;
    }
}

.doubt {
    width: calc(50% - 5px);   
    border: solid 1px $blue2;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-out;
    margin-bottom: 20px;
    
    &:nth-of-type(even) {
        margin-left: 10px;
    }

    &.closed {
        .icon-opened {
            display: none;
        }
    }

    &:not(.closed) {
        .icon-closed {
            display: none;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 60px;
        width: 100%;
        cursor: pointer;
        background-color: $blue2;
        padding: 0 20px;
        color: white;
        font-size: 18px;
    }

    &__description {

        &-body {
            display: none;
        }
        padding: 18px 19px 19px 20px;
        display: block;
        font-size: 16px;
        color: $gray;
        line-height: 1.5;
        letter-spacing: 0.97px;
    }
}

@media screen and (max-width: 768px) {
    .doubts {
        &__container {
            flex-direction: column;
            align-items: center;
            padding: 0 20px;
        }

        &__doubt {
            width: 100%;
            max-width: 340px;
            margin: 10px 0;
        }
    }
}