.footer {
    width: 100%;
    background-color: #c75082;
    font-family: $font-gotham;

    &__content {
        padding-top: 40px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    } 

    &__block {
        &--logo {
            width: 40%;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }

    &__logo {
        width: 200px;
        margin: 0 0 30px 0;
    }

    &__ul {
        list-style: none;
    }
    
    &__li {
        display: inline-block;
        position: relative;

        &:before {
            content: '';
            width: 5px;
            height: 5px;
            background-color: white;
            position: absolute;
            border-radius: 100%;
            top: 7px;
            left: -5px;
        }

        &:first-of-type {
            &:before {
                width: 0;
            }

            a {
                padding-left: 0;
            }
        }
        
        &-link {
            font-weight: 300;
            color: white;
            padding: 0 15px;
            letter-spacing: 0.85px;
            font-size: 14px;
        }
    }

    &__cnpj {
        margin-top: 44px;
        background-color: #963c62;
        text-align: center;
        line-height: 1.4;
        letter-spacing: 0.61px;
        color: white;
        font-size: 10px;
        font-weight: 300;
        padding: 13px 0;
    }
}

.footer-social {

    &__title {
        color: white;
        font-size: 14px;
        letter-spacing: 0.85px;
        font-weight: 400;
        margin-bottom: 20px;
        display: block;
    }

    &__icon-block {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        background-color: white;
        border-radius: 50%;
        color: $pink;
        margin-right: 20px;

        * {
            font-size: 18px;
        }
    }

    &__text {
        letter-spacing: 0.97px;
        font-weight: 100;

        &--phone {
            color: #fff;
            margin-right: 18px;
        }
    }

    &__ul {
        list-style: none;
    }

    &__li {
        display: block;
        margin: 20px 0;
    }

    &__a {
        color: white;
        font-weight: 300;
        
        span {
            display: inline-flex;
            vertical-align: middle;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        &__content {
            flex-wrap: wrap;
            padding: 40px 20px 0 20px;
        }

        &__block {
            width: 50%;

            &--contact {
                width: 100%;
            }
        }

        &__ul {
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &__li {
            &:before {
                display: none;
            }

            &-link {
                padding: 10px 0;
                display: block;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {

        &__block--social .footer-social__text {
            display: none !important;
        }

        &__block--social {
            margin: 30px 0;
        }
    }
}