@import "./colors.scss";
@import "./fonts.scss";
@import "./button.scss";
@import "./footer.scss";

@import "./components/menu.scss";
@import "./components/offer.scss";

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-family: $font-gotham;
}

strong {
  font-weight: 800;
}

html {
  min-height: 100vh;
}

body {
  border-top: solid 10px $purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

footer {
  width: 100%;
}

#page-content {
  width: 100%;
}

.page-title {
  font-size: 34px;
  text-align: center;
  color: $purple;
  font-weight: 100;
}

.wrapper {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

body.index {
  @import "./index/main.scss";
  @import "./index/video.scss";
  @import "./index/advantages.scss";
  @import "./index/comments.scss";
  @import "./index/best.scss";
  @import "./index/release.scss";
  @import "./index/shields.scss";
  @import "./index/credit_card.scss";
}

body.video {
  @import "./video/main.scss";
  @import "./index/advantages.scss";
  @import "./index/comments.scss";
  @import "./index/best.scss";
  @import "./index/release.scss";
  @import "./index/shields.scss";
  @import "./index/credit_card.scss";
}

body.doubts {
  @import "./doubts/index.scss";
}

body.terms {
  @import "./terms/index.scss";
}

body.composition {
  @import "./composition/index.scss";
}

@media screen and (max-width: 768px) {
  .page-title {
    font-size: 24px;
    line-height: 1.33;
    letter-spacing: 1.45px;
    max-width: 250px;
    margin: 0 auto;
  }
}
